{% extends 'temp_101/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table" x-data="tableOperations()">
                <thead>
                <tr>
                    <th><input type="checkbox" onclick="checkAll(this)"></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th>
                        <button class="btn btn-danger" @click="delete_all()">delete all</button>
                    </th>
                </tr>
                </thead>
                <tbody id="tbody">
                <template x-for="(blog, index) in blogs" :key="blog.id">
                    <tr id="row">
                        <td><input type="checkbox" name="id" :value="blog.id"></td>
                        <td>
                            <input type="text" x-model="blog.title">
                        </td>
                        <td>
                            <input type="text" x-model="blog.description">
                        </td>
                        <td>
                            <button class="btn btn-primary" @click="updateBlog(blog.id,blog.title,blog.description)">
                                Update
                            </button>
                            <button class="btn btn-danger" @click="deleteBlog(blog.id)">Delete</button>
                        </td>
                    </tr>
                </template>
                <tr x-data="{title: '',description: ''}">
                    {% csrf_token %}
                    <td></td>
                    <td><input type="text" name="title" x-model="title"></td>
                    <td><input type="text" name="description" x-model="description"></td>
                    <td>
                        <button @click="addBlog($data)" class="btn btn-blue">+</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    {% include 'temp_101/partials/tableOperations.html' %}
{% endblock %}